In [ ]:
#Installation de bibliothèques
pip install pandas
pip install pymongo

In [ ]:
#Importation de bibliothèques
import pandas as pd
import requests
from pymongo import MongoClient
from datetime import datetime

In [ ]:
# URL des données
url_1 = 'https://airqino-api.magentalab.it/v3/getStationHourlyAvg/283181971'  # Remplacez par le lien réel
url_2 = 'https://airqino-api.magentalab.it/v3/getStationHourlyAvg/283164601'  # Remplacez par le lien réel

In [ ]:
# Récupérer les données depuis les liens
response_1 = requests.get(url_1)
data_1 = response.json()
response_2 = requests.get(url_2)
data_2 = response.json()

In [ ]:
# Convertir la liste de données en DataFrame
df_1 = pd.DataFrame(data_1["data"])
df_2 = pd.DataFrame(data_2["data"])

In [ ]:
# Convertir la colonne timestamp en datetime
df_1['timestamp'] = pd.to_datetime(df_1['timestamp'])
df_2['timestamp'] = pd.to_datetime(df_2['timestamp'])

In [ ]:
# Extraire la date uniquement
df_1['date_1'] = df_1['timestamp'].dt.date
df_2['date_2'] = df_2['timestamp'].dt.date

In [ ]:
# Calculer la moyenne par jour
daily_means_1 = df_1.groupby('date_1').agg({'CO': 'mean', 'PM2.5': 'mean'}).reset_index()
daily_means_2 = df_2.groupby('date_2').agg({'CO': 'mean', 'PM2.5': 'mean'}).reset_index()

In [ ]:
# Conversion des colonnes 'date_1' et 'date_2' en type datetime
daily_means_1['date_1'] = pd.to_datetime(daily_means_1['date_1'])
daily_means_2['date_2'] = pd.to_datetime(daily_means_2['date_2'])

In [ ]:
# Afficher les résultats
print(daily_means_1)
print(daily_means_2)

In [ ]:
# Connexion à MongoDB
client = MongoClient('mongodb://localhost:27017/')  # Remplacez par l'URI de votre MongoDB
db_1 = client['air_quality_db']
collection_1 = db_1['daily_averages_1']
db_2 = client['air_quality_db']
collection_2 = db_2['daily_averages_2']

In [ ]:
# Convertir les DataFrames en dictionnaire et insérer les données dans MongoDB
records_1 = daily_means_1.to_dict('records')
collection_1.insert_many(records_1)
records_2 = daily_means_2.to_dict('records')
collection_2.insert_many(records_2)